@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="jumbotron bg-info text-white">
        <h1>Welcome to Team Connect!</h1>
        <p>Join our platform for a dedicated space for your team to communicate, track, and manage projects of all sizes.</p>
        <a href="/register"><button class="btn btn-warning">Start</button></a>
    </div>
    <div class="d-flex justify-content-around">
        <div>
            <h3 class="text-primary">Build Your Team</h3>
            <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis aut, incidunt sint recusandae dolorem rerum
                reprehenderit earum,
                repudiandae quos assumenda amet id dolore aliquam minima cum nam vitae. Recusandae, porro!</p>
        </div>
        <div>
            <h3 class="text-primary">Leave Messages</h3>
            <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis aut, incidunt sint recusandae dolorem rerum
                reprehenderit earum,
                repudiandae quos assumenda amet id dolore aliquam minima cum nam vitae. Recusandae, porro!</p>
        </div>
        <div>
            <h3 class="text-primary">Track Progress</h3>
            <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis aut, incidunt sint recusandae dolorem rerum
                reprehenderit earum,
                repudiandae quos assumenda amet id dolore aliquam minima cum nam vitae. Recusandae, porro!</p>
        </div>
    </div>
</div>
