<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="nav-bar">
        <h3> <a href="/">Home</a> | <a href="/about">About</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h3>
    </div>
    <div class="page-title">
        <h1>Here are some of my projects!</h1>
    </div>
    <div class="content-scroll">
        <div class="project">
            <h1 class="block">Project</h1>
            <div class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam molestias asperiores incidunt voluptatum, esse
                expedita. Architecto
                possimus sapiente, laudantium quibusdam, itaque optio expedita natus tenetur odio, animi deserunt qui rerum.</div>
            <div class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam numquam ut autem fugit exercitationem? Natus facere
                nisi aperiam
                amet quo laudantium veritatis. Exercitationem nam maiores blanditiis laborum ex tempora dolorum?</div>
            <div class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam numquam ut autem fugit exercitationem? Natus facere
                nisi aperiam
                amet quo laudantium veritatis. Exercitationem nam maiores blanditiis laborum ex tempora dolorum?</div>
        </div>
        <div class="project">
            <h1 class="block">Project</h1>
            <div class="block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga, odio accusamus iusto reiciendis eum, aperiam
                incidunt officia
                iste suscipit in molestias veniam repellendus minus! Unde corporis adipisci officia voluptatum?</div>
            <div class="block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga, odio accusamus iusto reiciendis eum, aperiam
                incidunt officia
                iste suscipit in molestias veniam repellendus minus! Unde corporis adipisci officia voluptatum?</div>
            <div class="block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga, odio accusamus iusto reiciendis eum, aperiam
                incidunt officia
                iste suscipit in molestias veniam repellendus minus! Unde corporis adipisci officia voluptatum?</div>
        </div>
        <div class="project">
            <h1 class="block">Project</h1>
            <div class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi quasi tempora? Doloremque laudantium
                voluptas ipsa
                reprehenderit distinctio aspernatur, aut quis architecto minus recusandae nulla cum hic eos excepturi fuga.</div>
            <div class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi quasi tempora? Doloremque laudantium
                voluptas ipsa
                reprehenderit distinctio aspernatur, aut quis architecto minus recusandae nulla cum hic eos excepturi fuga.</div>
            <div class="block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi quasi tempora? Doloremque laudantium
                voluptas ipsa
                reprehenderit distinctio aspernatur, aut quis architecto minus recusandae nulla cum hic eos excepturi fuga.</div>
        </div>
        <div class="project">
            <h1 class="block">Project</h1>
            <div class="block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum voluptatibus harum nobis sapiente provident officia
                magni facere
                deleniti, aliquid aut, maxime nulla excepturi? Eveniet, odio cupiditate praesentium maxime tempora obcaecati!</div>
            <div class="block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum voluptatibus harum nobis sapiente provident officia
                magni facere
                deleniti, aliquid aut, maxime nulla excepturi? Eveniet, odio cupiditate praesentium maxime tempora obcaecati!</div>
            <div class="block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum voluptatibus harum nobis sapiente provident officia
                magni facere
                deleniti, aliquid aut, maxime nulla excepturi? Eveniet, odio cupiditate praesentium maxime tempora obcaecati!</div>
        </div>
    </div>
</body>

</html>