<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <section class="section-summary">
        <div class="section-title text-center">
            <h1>About Me</h1>
        </div>
        <div class="summary d-flex justify-content-lg-between">
            <div class="summary__left">
                <img class="profile-pic" src="~/static/professional_pic_new.jpg" height='300px' width='300px' alt="Spencer Huyck">
                <h2 class="text-center">Spencer Huyck</h2>
            </div>
            <div class="summary__right px-3">
                <p>Hi, my name is Spencer Huyck and I am a software developer in Tacoma, Washington. My journey in coding began about two years ago
                    when I transitioned from active duty Air Force to the Reserves. Tech had never really been on my radar as a potential career, but
                    with support from my wife and friends -- I tried coding and loved it! The creativity, problem solving, and community impact
                    involed with development were game changers for me and I decided to learn more. After taking several courses in JavaScript, I took
                    on a full-stack immersive program where I learned 3 different languages and frameworks and I continue to build applicatons with
                    them today. I love being able to create applications that help out the community and that enable business owners to share their
                    stories, talents, and products. </p>
                <p>My time in the military instilled some very important skills in me. First, adaptability -- you never know what you will be working
                    on, what teams you will join, nor the problems you will face. The Air Force gave me the opportunity to learn about missile
                    operations (completely different than what I had studied) and I had to adapt to become an operations supervisor in aa no-fail
                    mission. After a ton of practice, studying, and hard work; I eventually became an instructor. I have always had a love for
                    learning and becoming an instructor opened my eyes to just how much I don't know and motivated me to learn something new from my
                    students and fellow instructors everyday. Lastly, as an officer, I was expected to have an answer, and not just any answer; but
                    the correct one. I didn't always have an answer, but I learned to problem-solve by taking the information I had and making a
                    decision. These three skills have prepared me for working in software development and being a valuable member of any team.</p>
            </div>
        </div>
    </section>


</body>

</html>