<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <section class="section-projects">
        <div class="section-title text-center">
            <h1>Checkout my projects!</h1>
        </div>
        <div class="project d-flex justify-content-lg-between mt-2">
            <div class="project__left">
                <h1 class="project__title">Auto Repair Shop</h1>
                <p class="project__tools">Built with: MySQL, Express, React, Node.js, Sequelize, HTML, JavaScript, SASS, Bcrypt, JSON Web Token,
                    Email.js, AWS, Ubuntu, Nginx </p>
                <p class="project__description">A deployed, client facing business appointment application built with partner Vic Gargurevich for an
                    auto repair shop in Los Angeles, CA. Our application uses a MySQL database to capture appointment information for clients that can
                    be tracked and updated with basic CRUD components on a secure administrator platform. Our scheduling feature also includes email
                    responses for scheduled appointments to both client and owner for easy tracking. Lastly, we've include the Google Maps api for
                    quick location and directions, included on fully built out website.</p>
            </div>
            <div class="project__image align-self-center">
                <img src="~/static/landing_page.png" alt="Auto Repair Shop" width='400px' height='auto'>
            </div>
        </div>
        <div class="project d-flex justify-content-lg-between mt-2">
            <div class="project__left">
                <h1 class="project__title">Hydroponic Farm Shop</h1>
                <p class="project__tools">Built with: Django, Flask, Python, SQLite, HTML, SASS, Bcrypt, Stripe</p>
                <p class="project__description">A dynamic and easily customizable e-commerce application that uses a Model-View-Template (MVT) to
                    organize farm fresh products for simple and easy online shopping. Integrated with Stripe for safe and secure payment transactions
                    -- it also includes basic product CRUD components that can be used if other payment application is preferred. Functionality is
                    beautifully displayed using SASS components that can be quickly updated to change the style of this site.</p>
            </div>
            <div class="project__image align-self-center">
                <img src="~/static/wireframe_example.png" alt="project 1" width='400px' height='auto'>
            </div>
        </div>
        <div class="project d-flex justify-content-lg-between mt-2">
            <div class="project__left">
                <h1 class="project__title">Paw Print</h1>
                <p class="project__tools">Built with: MongoDB, Express, React, Node.js, HTML, SASS </p>
                <p class="project__description">A social media and organization application designed to easily connect with pet organizations and
                    friends for important information sharing about your pet. If you are taking your pet to a new vet or daycare -- shot records
                    and other pertinent informtion can easily be shared through connecting with the organization on the app. A built in chat
                    function allows you to monitor your pet when away, while also tracking notifications/reminders for medications, shots, and
                    birthdays when they are home. Google Maps api included to filter closest emergency veterinarians when traveling. Leverages
                    React single-page application functioning for seemless updates and scalability.</p>
            </div>
            <div class="project__image align-self-center">
                <img src="~/static/paw_print_dashboard.png" alt="project 1" width='400px' height='auto'>
            </div>
        </div>
        <div class="project d-flex justify-content-lg-between mt-2">
            <div class="project__left">
                <h1 class="project__title">Team Connect</h1>
                <p class="project__tools">Built with: MongoDB, Express, React, Node.js, HTML, Bootstrap</p>
                <p class="project__description">Description here</p>
            </div>
            <div class="project__image align-self-center">
                <img src="~/static/team_connect_dashboard.png" alt="project 1" width='400px' height='auto'>
            </div>
        </div>
    </section>
</body>

</html>