<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
@model ViewModel.Models.User

<body>
    <h1>Here is a user!</h1>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>



</body>

</html>