@* ViewBag.CurrentUser *@
@* ViewBag.Hobbies *@
@{
    ViewData["Title"] = "Dashboard";
}
<div>
    <div class="d-flex justify-content-between">
        <h1>Hobbies</h1>
        <a href="/logout"><button class="btn btn-warning">Log out</button></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hobby</th>
                <th>Enthusiasts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Hobby h in ViewBag.Hobbies)
            {
                <tr>
                    <td><a href="/hobby-details/@h.HobbyId">@h.Name</a></td>
                    <td>@h.HobbyEnthusiasts.Count</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a href="/hobby-form"><button class="btn btn-primary">Create a Hobby</button></a>
    </div>
</div>